body {
  font-family: "Open Sans", Arial;
  background: #CCC;
}

main {
  background: #EEE;
  width: 1600;
  margin: 20px auto;
  padding: 10px 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

p {
  font-size: 15px;
}



/* Expandable containers */

input.main_section {
  display: none;
  visibility: hidden;
}

label.main_section {
  display: block;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #CCC;
  color: #666;
}

label.main_section:hover {
  color: #000;
}

label.main_section::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 20px;
  content: "+";
  text-align: center;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 24px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}

.main_section_expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: #FFF;
}

input.main_section:checked ~ .main_section_expand {
  height: auto;
}

input.main_section:checked ~ label.main_section::before {
  content: "-";
}

section.main_section {
  padding: 20px 20px;
}




/* Image zoom on click*/

a.lightbox {
  display: block;
  margin: auto;
  height: 500px;
  width: 800px;
}

/* Styles the thumbnail */
a.lightbox img {
  display: block;
  margin: auto;
  height: 500px;
  width: 800px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */
.lightbox-target {
  position: fixed;
  display: flex;
  align-items: center;
  top: -100%;
  background: rgba(0,0,0,.4);
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
.lightbox-target img {
  display: block;
  margin: auto;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

/* Styles the close link, adds the slide down transition */
a.lightbox-close {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
.lightbox-target:target {
  opacity: 1;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target:target img {
  max-height: 95%;
  max-width: 95%;
}

.lightbox-target:target a.lightbox-close {
  top: 0px;
  max-height: 100%;
  max-width: 100%;
}



/* Loci representation */

.allele {

}

.individual {

}

.locus_section {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #686868;
  background: #DCDCDC;
  padding: 1px;
}

input.locus {
  display: none;
  visibility: hidden;
}

label.locus {
  text-align: justify;
  display: block;
  padding: 10px;
  color: #413E3E;
}

label.locus:hover {
  color: #000;
}

label.locus:before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 20px;
  content: ">";
  text-align: center;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 24px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CBCBCB 50%, transparent 50%);
}

label.locus:after{

}

.locus_expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: #FFF;
}

input.locus:checked ~ .locus_expand {
  height: auto;
  border-top: 1px solid #939393;
  display: block;
  padding: 10px;
  display: flex;
  justify-content: center;
}

input.locus:checked ~ label.locus:before {
  content: "-";
}


.individuals_grid {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.individual_section {
  margin: 10px;
  width: 150px;
  height: 100px;
  border: 2px solid #5C5858;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
}

.individual_name {
  color: #0D28A3;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #5C5858;
}

.individual_genotype {
  color: #06103E;
}


/* Open stack of alleles*/

a.allele-stack-link {
  text-decoration: none;
  display: block;
  width: 150px;
  height: 100px;
}

a.allele-stack-link:focus {
  outline: 0;
}

/* Styles the allele-stack, removes it from sight and adds the fade-in transition */
.allele-stack-target {
  position: fixed;
  display: flex;
  align-items: center;
  top: -100%;
  background: rgba(0,0,0,.8);
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  overflow: hidden;
}


/* Styles the close link, adds the slide down transition */
a.allele-stack-close {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .allele-stack-target anchor */
.allele-stack-target:target {
  opacity: 1;
  top: 30%;
  bottom: 0%;
  left: 10%;
  right: 0%;
  max-height: 40%;
  min-height: 10%;
  max-width: 80%;
}

.allele-stack-target:target a.allele-stack-close {
  top: 0px;
  max-height: 100%;
  max-width: 100%;
}


.allele-stack-target .allele-stack {
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  background: #E1E1E1;
  padding: 5px;
}

.allele-stack-target:target .allele-stack {
  /*height: 97%;*/
  width: 99%;
  display: flex;
  justify-content: flex-start;
}

.allele-stack-names {
  width: 200px;
  height: 95%;
  border-right: 2px solid black;
  padding: 5px;
}

p.allele_field{
  font-size: 15px;
  color: black;
  font-family: monospace;
  text-align: center;
}

p.allele_title{
  font-size: 15px;
  color: black;
  font-family: monospace;
  text-align: center;
  border-bottom: solid black 2px;
  padding-bottom: 15px;
}

.allele-stack-coverages {
  width: 150px;
  font-size: 15px;
  color: black;
  font-family: monospace;
  height: 95%;
  border-right: 2px solid black;
  text-align: center;
  padding: 5px;
}

.allele-stack-sequences {
  font-size: 15px;
  color: black;
  font-family: monospace;
  height: 95%;
  text-align: center;
  padding: 5px;
  padding-left: 15px;
}

.alleles_grid {
}
